<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DeckGlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<DeckGlow.Properties.Settings>
      <setting name="AppConfigJson" serializeAs="String">
          <value />
      </setting>
      <setting name="DefaultBrightness" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="FirstLaunch" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
          <value>True</value>
      </setting>
  </DeckGlow.Properties.Settings>
    </userSettings>
</configuration>